[client]
default-character-set           = utf8

[mysql]
default-character-set           = utf8

[mysqld]
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
explicit-defaults-for-timestamp = 1
bind-address                    = 0.0.0.0
max-connections                 = 2000
max-user-connections            = 2000
max-allowed-packet              = 1024M
sql-mode                        = NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER
