server {
    listen 80;
    server_name front01.dev.ams;

    location / {
        proxy_pass http://{{ host_prefix }}{{host.gate }}{{ host_postfix }}{{ vagrant_postfix }};
    }
}

server {
    listen 8080;
    server_name front01.dev.ams;

    location / {
        proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }};
    }
}

server {
    listen 8088;
    server_name front01.dev.ams;

    location / {
        proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }};
    }
}
