server {
  server_name {{ host_prefix }}{{ host.plus }}{{ host_postfix }}{{ vagrant_postfix }};
  root {{ root_dir }}/plus/public_html;

  location = /favicon.ico {
    return 204;
    access_log off;
    log_not_found off;
  }

  location / {
    try_files $uri /index.php$is_args$args;
  }

  location ~ ^/index\.php(/|$) {
    fastcgi_pass   unix:/var/run/php/php7.0-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS off;
  }

  error_log {{ root_dir }}/logs/nginx_plus_error.log;
  access_log {{ root_dir }}/logs/nginx_plus_access.log;
}