server {
  listen 80;
  root {{ root_dir }}/pmx/htdocs;
  index index.php index.html;
  server_name {{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }};

  expires -1;

  location = /favicon.ico {
    empty_gif;
  }

  location /v2/payment/card/purchase {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/sale;
  }

  location /v2/payment/card/payout-by-transaction {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/payout/transaction;
  }

  location /v2/payment/card/confirm {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/capture;
  }

  location /v2/payment/card/void {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/cancel;
  }

  location /v2/payment/card/complete {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/3ds_result;
  }

  location /v2/payment/card/refund-reverse {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/reversal;
  }

  location /v2/payment/card/wallet/purchase {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/sale/saved;
  }

  location /v2/payment/card/wallet/auth  {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/auth/saved;
  }

  location /v2/payment/card/masked/purchase {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/sale/masked;
  }

  location /v2/payment/card/masked/auth {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/card/auth/masked;
  }

  location /v2/payment/status/order {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/status;
  }

  location /v2/payment/china/banks/purchase {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/china-banks/sale;
  }

  location /v2/payment/china/banks/payout {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/china-banks/payout;
  }

  location /v2/payment/none-card/purchase {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/payment/wechat/sale;
  }

  location /v2/customer/wallet/delete-by-pan {
    proxy_pass http://{{ host_prefix }}{{ host.gate }}{{ host_postfix }}{{ vagrant_postfix }}/v2/customer/wallet/delete/masked;
  }

  location / {
     if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
     }

     try_files $uri $uri/ /index.php;
  }

  location ~ \.php$ {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
    add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';

    try_files $uri =404;

    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_index index.php;
    fastcgi_split_path_info       ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
  }

   error_log {{ root_dir }}/logs/nginx_gate_nt_error.log;
   access_log {{ root_dir }}/logs/nginx_gate_nt_access.log;
}