---
# for Vagrant `dev`
- hosts: dev
  connection: local
  become: yes
  become_method: sudo
  vars_files:
    - ../.vagrantuser
  roles:
    - pre-task
    - nginx
    - php
    - kafka
    - mysql
    - composer
    - memcached
    - redis
    - rabbitmq
    # - vertica
    # - app
    # - plus
    - post-task

###
### from ubuntu
###
    # - pre-task
    # - aliases
    # - mysql-db
    # - nginx
    # - db
    # - db-terminal
    # - db-collector
    # - admin
    # - ecotests
    # - ecogatetools
    # - pmx
    # - plus
    # - ecofaker
    # - terminal
    # - cron
    # - kafka
    # - supervisor
    # - post-task
  tags:
    - vagrant_dev
    # - localhost_dev_vagrant

# for Vagrant `office`
- hosts: office
  connection: local
  become: yes
  become_method: sudo
  vars_files:
    - ../.vagrantuser
  roles:
    - pre-task
    - nginx
    - php
    - kafka
    - mysql
    - composer
    - memcached
    - redis
    - rabbitmq
    # - vertica
    # - app
    # - plus
    - post-task
  tags:
    - vagrant_office