---
# for Amazon
- hosts: localhost
  connection: local
  become: yes
  become_method: sudo
  vars_files:
    - ../.vagrantuser
  roles:
    - pre-task
    - nginx
    - php
    - kafka
    # - mysql
    - composer
    # - vertica
    # - app
    # - plus
    - post-task
  tags:
    - localhost_cloud

# for Jenkins QA node
- hosts: localhost
  connection: local
  become: yes
  become_method: sudo
  vars_files:
    - ../.vagrantuser
  roles:
    - pre-task
    - nginx
    - php
    - kafka
    # - mysql
    - composer
    # - vertica
    # - app
    # - plus
    - post-task
  tags:
    - localhost_dev

# for Jenkins DEV node
- hosts: localhost
  connection: local
  become: yes
  become_method: sudo
  vars_files:
    - ../.vagrantuser
  roles:
    - pre-task
    - nginx
    - php
    - kafka
    # - mysql
    - composer
    # - vertica
    # - app
    # - plus
    - post-task
  tags:
    - localhost_qa