################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vagrant
/.vagrantuser
/.idea
*.retry
/packer/output-virtualbox-iso/
*.iso
*.box
/tools/tracer/*
!/tools/tracer/start_standalone.sh


/provision/roles/mysql/
/provision/roles/app/
