################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vagrant
/.vagrantuser
/.idea
*.retry
*.iso
*.box
/packer/output-virtualbox-iso/
/tools/tracer/bin

/provision/roles/app/
