################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vagrant
/.vagrantuser
/.idea
*.retry



/provision/roles/mysql/
/provision/roles/app/
