# ------------------------------------------------------------------------------------------------------------------------------------
# ADJUST THESE SETTINGS
# ------------------------------------------------------------------------------------------------------------------------------------
env:
  username: vagrant                               # who is provisioning - vagrant, vbesedin, jenkins, etc.
  password: vagrant
  ip: "192.168.15.15"                             # private network ip
  memory: 4096                                    # 6144 or 8096 for async plus
  cpus: 4                                         # Use `2` for i5 and `4` for i7
  in_office: false                                # whether to register in office network
  host_prefix: ""                                 # "amazon1." or "vbesedin."
  host_postfix: ".test"                           # "-cex.ecpdss.net", "-gate2025.ecpdss.net", "-demogate.ecpdss.net" or ".test"
  timezone: Europe/Moscow                         # Etc/UTC or Europe/Moscow
  vault_pass: ""                                  # obtain from IT to run private rules, skip rules if empty

plus:
  plus_logger_type: stream                        # plus logger type; stream - writing to file, graylog - sending to server 
  plus_graylog_system_name: dev                   # switch type graylog and system_name, e.g. vbesedin-plus
  plus_workers_autostart: false                   # configure plus workers to autostart in supervisor
  plus_ram_path: "/www/plus/ram"                  # path on the guest of plus ram folder

# ------------------------------------------------------------------------------------------------------------------------------------
# ADDITIONAL PARAMS
# ------------------------------------------------------------------------------------------------------------------------------------
path:                                             # relative local paths to repos (in case all repos are in one folder)
  root_dir:       "/data"
  sync_folder:
    - path:       "../logs"                       # sync guest logs to the host
      mount:                                      ["dmode=777", "fmode=777"]
      group:                                      "www-data"
    - path:       "../plus"                       # https://stash.paymantix.com/projects/PHP/repos/plus/browse

# mount_options will have precedence over the owner and group options.
# config.vm.synced_folder ".", "/vagrant", owner: "vagrant", group: "vagrant", mount_options: ["uid=1234", "gid=1234"] # ignore owner/group

# folders:
#     - map: ~/code
#       to: /home/vagrant/code
#       type: "rsync"
#       options:
#           rsync__args: ["--verbose", "--archive", "--delete", "-zz"]
#           rsync__exclude: ["node_modules"]

id_rsa:                                           # these keys must be authorized for work with ecommpay stash repos (no passphrase)
  deployer_id_rsa: "~/.ssh/id_rsa"
  deployer_id_rsa_pub: "~/.ssh/id_rsa.pub"

host:                                             # virtual hosts inside VM
  host_plus: "plus.plus"
  host_gate: "gate.test"
  host_mock: "mock01.ecpdss.net"
  host_keydaemon: "gate.test:12080"
  host_memcached: "gate.test"

nginx_fpm:
  user_group: "www-data"
  id_gid: "5001"
