---
- name: clone cpp tracer
  git:
    repo: git@github.com:vadbes46/jaeger-client-php-ext.git
    dest: "{{ ext_workspace }}/jaeger-client-php-ext"
    version: "release_for_centOS"
    update: yes
    accept_hostkey: yes
    recursive: yes
    force: yes
  become: yes
  become_user: "{{ env.username }}"

- name: build cpp tracer
  command: "{{ item.command }}"
  args:
    chdir: "{{ item.chdir }}"
    creates: "{{ ext_module_path }}/jaeger-client.so"
  with_items:
    - { command: 'make clean', chdir: '{{ ext_workspace }}/jaeger-client-php-ext/PHP-CPP' } 
    - { command: 'scl enable devtoolset-4 "bash -c make"', chdir: '{{ ext_workspace }}/jaeger-client-php-ext/PHP-CPP' } 
    - { command: 'make install', chdir: '{{ ext_workspace }}/jaeger-client-php-ext/PHP-CPP' } 
    - { command: 'make clean', chdir: '{{ ext_workspace }}/jaeger-client-php-ext' } 
    - { command: 'make install', chdir: '{{ ext_workspace }}/jaeger-client-php-ext' } 
  notify:
    - restart php-fpm

- name: remove cpp tracer artifacts
  file:
    path: "{{ ext_workspace }}/jaeger-client-php-ext"
    state: absent

# - name: remove prev jaeger binaries and UI
#   file:
#     path: "{{ path.root_dir }}/ansible-packer/tools/tracer/bin"
#     state: absent

- name: get jaeger binaries and UI
  git:
    repo: git@github.com:vadbes46/jaeger-build.git
    dest: "{{ path.root_dir }}/ansible-packer/tools/tracer/bin"
    version: "1.2.0"
    update: yes
    accept_hostkey: yes
  become: yes
  become_user: "{{ env.username }}"
