[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target zookeeper.service
After=network.target remote-fs.target zookeeper.service
Before=

[Service]
Type=simple
Environment=JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk
ExecStart=/bin/sh -c '/opt/kafka/kafka_{{ scala_version }}-{{ kafka_version }}/bin/kafka-server-start.sh /opt/kafka/kafka-cluster/conf/server-single.properties 2>&1 > {{ path.root_dir }}/logs/service_kafka.log'
ExecStop=/opt/kafka/kafka_{{ scala_version }}-{{ kafka_version }}/bin/kafka-server-stop.sh

#ExecReload=/bin/kill -HUP $MAINPID
#User=vagrant
#Group=vagrant
#WorkingDirectory=/opt/kafka/kafka-cluster/data/kafka-logs/
#SuccessExitStatus=143
#Restart=on-abort
#PIDFile=/var/run/zookeeper.pid

[Install]
WantedBy=multi-user.target
